@media (min-width:0px) and (max-width: 480px) {

  html, body {
    width: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }


  .interface {
    position: absolute;
    flex: 1;
  }

  #background {
    width: 100vh;
    height: 20vh;
    flex-shrink: 0;
    z-index: -1;
  }

  .music-hrs {
    
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1vw;
    padding: 1vw;
  }

  .music {
    width: 20vw;
    height: 6vw;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(230, 229, 229, 0.19);
    backdrop-filter: blur(4.8px);
    border-radius: 10px;
  }

  #play,
  #pause,
  #volume {
    width: 6vw;
    height: 6vw;
  }

  #background-hrs {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .clock {
    width: 30vw;
    height: 1vw;
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 20px 40px 20px 20px;
    padding: 10px;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(230, 229, 229, 0.19);
    backdrop-filter: blur(4.8px);
    border-radius: 10px;
    left: 130px;
  }
  
  #hours {
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(230, 229, 229, 0.082);
    backdrop-filter: blur(4.8px);
    color: rgb(240, 239, 241);
    font-weight: 600;
    font-size: 1.3rem;
    font-family: var(--font-family-quik);
  }
  
  #saudacao {
    width: 10vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-family: var(--font-family-quik);
    color: #fff;
    font-weight: 400;
  }
  

  .info-principal {
    height: 60vh;
    margin-top: 30px;
  }

  .imagem-topo {
    margin-top: -5vh;
  }

  #name {
    font-size: clamp(1.5rem, 5vw, 2rem);
  }

  #typing-effect {
    font-size: clamp(1rem, 4vw, 1.3rem);
  }

  .cursor {
    width: 2px;
    height: 1.2em;
  }

  .link-1-2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-top: 1vh;
    gap: 4vw;
  }

  .link-1
   {
    width: 38vw;
    height: 38vw;
    
  }

  #icones {
    width: 12vw;
    height: 12vw;
  }

  .link-3-4 {
    width: 100%;
    height: auto;
    gap: 3vw;
    margin-top: 10px;
  }

  .link-3,
  .link-4 {
    width: 90%;
    height: 12vw;
    border: 3px solid #9f5de6;
  }

  .link-5-6 {
    width: 100%;
    height: auto;
    
    flex-direction: row;
    gap: 5vw;
  }

  #buymycoffee,
  .link-6 {
    width: 40vw;
    height: 10vw;
  }
}
